body {
    font-family: Arial, sans-serif;
}

.nav-tabs {
    margin-bottom: 20px;
}

.tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}
.centeredHeader{
    text-align: center;
}

#messageForm input[type="text"], #messageForm input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#messageForm button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#messageForm button[type="submit"]:hover {
    opacity: 0.8;
}

#registerForm input[type="text"], #registerForm input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#registerForm button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#registerForm button[type="submit"]:hover {
    opacity: 0.8;
}

#checkInboxTab button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#inboxForm input[type="text"], #inboxForm input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#checkInboxTab button:hover {
    opacity: 0.8;
}

#sentMessagesTab ul {
    list-style-type: none;
    padding: 0;
}